.hading{ 
  display: flex;
 justify-content: center;
 font-size: 4.5rem;
 margin-top: 90;
 font-family: 'Caprasimo', cursive;
}
  
  section {
    position: relative;
    z-index: 3;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
  }
  
 
  .row  {
    display: flex;
    /* flwx-wrap: wrap; */
    align-items: center;
    justify-content: center;
  }
  
 
  .contact-form {
    background-color: #fff;
    padding: 40px;
    width: 600px;
    padding-bottom: 20px;
    padding-top: 20px;
  }
  
  .contact-form h2 {
    font-weight: bold;
    font-size: 2em;
    margin-bottom: 10px;
    color: #333;
  }
  
  .contact-form .input-box {
    position: relative;
    width: 100%;
    margin-top: 10px;

  }
  
  .contact-form .input-box input,
  .contact-form .input-box textarea{
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #333;
    outline: none;
    resize: none;
    
  }

  .contact-form .input-box span {
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color: #666;
   
  }
  
  .contact-form .input-box input:focus ~ span,
  .contact-form .input-box textarea:focus ~ span{
    color: #e91e63;
    font-size: 12px;
    transform: translateY(-30px);
  }
  
  .btn-btn {
    width: 100%;
    background: #ff6f01;
    color: #FFF;
    border: none;
    cursor: pointer;
    font-size: 15px;
    border: 1px solid #ff6f01;
    transition: 0.5s;
    border-radius: 20px;
   
  }
  
  .btn-btn:hover
  {
    background: #FFF;
    color: #ff6f01;
  }
  
  @media (max-width: 991px) {
    .hading{
      margin-top: 15px;
    }
    section {
      padding-top: 50px;
      padding-bottom: 50px;
    }
    
    .row {
      flex-direction: column;
    }
    
    .contact-info {
      margin-bottom: 40px;
      width: 100%;
    }
    
    .contact-form {
      width: 100%;
    }
  }